@media (min-width: 480px) {
    .navigation-bar {
        display: flex;
        flex-direction: column;
    }
    .navigation-bar__menu {
        padding: 10px 0px;
    }
    .navigation-bar__menu ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100vw;
        justify-content: space-evenly;
        height: 50%;
        list-style: none;
    }
    .navigation-bar__menu ul li {
        font-size: 28px;
    }
    .contact {
        width: 146px;
        height: 40px;
        font-size: 28px;
    }
    main .title h1 {
        font-size: 56px;
    }
    .about_me p {
        font-size: 28px;
    }
    .profile-image img {
        width: 50vw;
    }
    footer {
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    footer a {
        margin: 0px 30px;
    }
    footer a p {
        font-size: 38px;
        margin-bottom: 10px;
    }
    footer a img {
        width: 50px;
        height: 50px;
    }
}