@media (min-width: 480px) {
    .navigation-bar {
        display: flex;
        flex-direction: column;
    }
    .navigation-bar__menu ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100vw;
        justify-content: space-evenly;
        height: 50%;
        list-style: none;
    }
    .navigation-bar__menu ul li {
        font-size: 20px;
    }
    .contact {
        width: 125px;
        height: 30px;
        font-size: 20px;
    }
    main .title h1 {
        font-size: 46px;
    }
    .about_me p {
        font-size: 24px;
    }
    .profile-image img {
        width: 55vw;
    }
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    footer a {
        margin: 0px 30px;
    }
    footer a p {
        font-size: 36px;
        margin-bottom: 10px;
    }
    footer a img {
        width: 50px;
        height: 50px;
    }
}